@mixin dispflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin per100 {
    width: 100%;
    height: 100%;
}
@mixin bgcover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

$font-stack: 'PT Sans', sans-serif;
$regular: 400;
$small: 12px;
$medium: 14px;
$big: 16px;


/* общие */

body {
    font-family: $font-stack;
    font-weight: $regular;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #000000;
}

* {
    margin: 0;
}


/* header  */


.header {
    color: gray;
    font-size: $small;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    width: 100%;
    background: #000000;
    z-index: 1;
}
span {
    padding: 0 5px;
}
.registr {
    display: flex;
}
.enter {
    padding-left: 5px;
}
.number {
    display: flex;
}
.a1 {
    color: grey;
    text-decoration: none;
}
.a1:hover {
    color: white;
    transition: 0.5s;
}


/* header person */

nav {
    position: sticky;
    top: 0px;
}
.header-person {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #0F0F0F;
    justify-content: space-around;
    align-items: center;
}
.user {
    display: flex;
    color: grey;
    font-size: 14px;
    align-items: center;
    height: 80px;
}
.user > div {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
}
.user > div:hover {
    background-color: #1F1F1F;
    transition: 0.5s;
}
.user > div > a {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
}
.user > div:hover li {
    color: white;
    transition: 1s;
}
.hr {
    width: 100%;
    height: 1.5px;
    background-color: #FFFFFF;
    z-index: -1;
}
li {
    list-style-type: none;
}
.first_li {
    margin-left: -23%;
} 
.burger {
    position: absolute;
    margin-top: -250px;
    margin-left: -95px;
    z-index: -1;
}
.burger_div:hover .burger {
    transition: 0.5s;
    margin-top: 0;
}
.burger > li {
    @include dispflex;
    height: 50px;
    background-color: #0F0F0F;
}
.burger > li:hover {
    background-color: #1F1F1F;
    transition: 1s;
}
.burger > li:hover a {
    transition: 1s;
    color: white;
}
.mg {
    margin-top: 32px;
}
input {
    box-sizing: border-box;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background-color: #FFFFFF;
    opacity: 0.4;
    color: black;
} 
form.search button[type=button] {
    width: 20%;
    padding: 10px;
    background-color: #0F0F0F;
    font-size: $medium;
    color: white;
    border: none;
}
.form:hover button[type=button] {
    background-color: #1F1F1F;
    transition: 0.5s;
}
button[type=button]:hover {
   opacity: 0.4;
}


.banner {
    background-image: url(../img/bg.png);
    @include bgcover;
    height: 810px;
    border: 1px solid black;
}
.basket {
    font-family: "Playfair Display";
    font-size: 36px;
    color: white;
    margin: 30px;
}

.container {
    min-height: 580px;
    max-height: 100%;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 0px;
    padding: 20px;
}
.empty_basket {
    font-family: $font-stack;
    font-weight: $regular;
    color: white;
    font-size: 20px;
    text-align: center;
}
.c {
    font-size: 12px;
    color: lightgrey;
    margin-left: 350px;
}



@media (max-width: 1024px) {
    .c {
        margin-left: 200px;
    }
}

@media (max-width: 480px) {
    .c {
        margin-left: 50px;
    }
    .header {
        font-size: 10px;
    }
    .number {
        display: none;
    }
    .form {
        display: none;
    }
    .search {
        display: none;
    }
}

@media(max-width:360px) {
    .footer {
        display: none;
    }
}