* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #0f0f0f;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav > div:hover {
  background-color: #1f1f1f;
}

nav > div {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav > div:hover .brand {
  color: white;
}

.brand {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
  text-decoration: none;
}

.hr {
  width: 100%;
  height: 1.5px;
  background-color: #FFFFFF;
}

.hr1 {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 1;
}

/* section */
.name {
  font-family: "Playfair Display";
  font-size: 36px;
  color: white;
  margin-top: 50px;
  margin-left: 30px;
}

.watches {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 405px;
  width: 260px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.basketover {
  margin-top: -55px;
  width: 263px;
  height: 325px;
  background-color: #FFFFFF;
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.bx {
  width: 75px;
  height: 75px;
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: -25px;
}

.watch:hover .basketover {
  opacity: 0.05;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.watch:hover .bx {
  opacity: 0.75;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.watch:hover .img-watch img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-watch {
  width: 260px;
  height: 325px;
  background-color: #191B1C;
  border: 2px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.louis {
  font-family: "Playfair Display";
  color: white;
  font-size: 18px;
  margin-left: 2px;
}

.cost {
  font-family: "Playfair Display";
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 2px;
}
/*# sourceMappingURL=katalogscss.css.map */