@mixin dispflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin per100 {
    width: 100%;
    height: 100%;
}
@mixin bgcover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

$font-stack: 'PT Sans', sans-serif;
$regular: 400;
$small: 12px;
$medium: 14px;
$big: 16px;


/* общие */


* {
    margin: 0;
}
html {
    scroll-behavior: smooth; 
}
body {
    font-family: $font-stack;
    font-weight: $regular;
    display: flex;
    flex-direction: column;
}


/* header */


.header {
    color: gray;
    font-size: $small;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    width: 100%;
    background: #000000;
    z-index: 3;
}
.number {
    display: flex;
}
span {
    padding: 0 5px;
}
.registr {
    display: flex;
}
.enter {
    padding-left: 5px;
}
a {
    @include dispflex;
    @include per100;
}
.a1 {
    color: grey;
    text-decoration: none;
}
.a1:hover {
    color: white;
    transition: 0.5s;
}

/* header person */


nav {
    position: sticky;
    top: 0px;
    z-index: 2;
}
.header-person {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #0F0F0F;
    justify-content: space-around;
    align-items: center;
}
.user {
    display: flex;
    color: grey;
    font-size: $medium;
    align-items: center;
    height: 80px;
}
.user > div {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
}
.user > div:hover {
    background-color: #1F1F1F;
    transition: 0.5s;
}
.user > div > a {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
}
.user > div:hover li {
    color: white;
    transition: 1s;
}
.hr {
    width: 100%;
    height: 1.5px;
    background-color: #FFFFFF;
    z-index: -1;
}
li {
    list-style-type: none;
}
.first_li {
    margin-left: -23%;
} 
.burger {
    position: absolute;
    margin-top: -250px;
    margin-left: -95px;
    z-index: -1;
}
.burger_div:hover .burger {
    transition: 0.5s;
    margin-top: 0;
}
.burger > li {
    @include dispflex;
    height: 50px;
    background-color: #0F0F0F;
}
.burger > li:hover {
    background-color: #1F1F1F;
    transition: 1s;
}
.burger > li:hover a {
    transition: 1s;
    color: white;
}
.mg {
    margin-top: 32px;
}
input {
    box-sizing: border-box;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background-color: #FFFFFF;
    opacity: 0.4;
    color: black;
} 
form.search button[type=button] {
    width: 20%;
    padding: 10px;
    background-color: #0F0F0F;
    font-size: $medium;
    color: white;
    border: none;
}
.form:hover button[type=button] {
    background-color: #1F1F1F;
    transition: 0.5s;
}
button[type=button]:hover {
   opacity: 0.4;
}


/* banner */


.banner {
    @include dispflex;
    @include bgcover;
    background-image: url(../img/bg.png);
    height: 810px;
}
.ban {
    @include dispflex;
    flex-direction: column;
}
.lorem {
    color: #FFFFFF;
    font-size: $big;
    text-transform: uppercase;
    max-width: 730px;
    max-height: 96px;
    text-align: center;
    line-height: 1.5;
}
.rectangle {
    height: 320px;
    width: 320px;
    border: 4px solid #FFFFFF;
    margin-bottom: 85px;
    @include dispflex;
}


/* sezon-collection */


.sezon-collection {
    display: flex;
    height: 730px;
}
.sezon {
    background-color: #000000;
    width: 54.16666667%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
}
.collection {
    width: 45.83333333%;
    background-image: url(../img/new_collection.png);
    @include bgcover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 480px;
    padding-bottom: 80px;
}
.new-collection {
    font-family: "Playfair Display";
    font-size: 36px;
    color: white;
}
.line {
    height: 1px;
    width: 120px;
    background-color: white;
}
.katalog {
    width: 138px;
    height: 47px;
    border: 1px solid white;
    @include dispflex;
}
.a2 {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.katalog:hover {
    border: 1px solid grey;
    transition: 0.5s;
}
.katalog:hover .a2 {
    color: grey;
    transition: 0.5s;
}   
.s2020 {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 36px;
    color: white;
}
.watches {
    display: flex;
    justify-content: space-around;
    height: 405px;
    width: 100%;
}
.watch {
    display: flex;
    flex-direction: column;
    height: 405px;
    width: 260px;
    justify-content: space-between;
}
.basketover {
    width: 263px;
    height: 325px;
    background-color: #FFFFFF;
    opacity: 0;
    position: absolute;
    @include dispflex;
    z-index: 1;
}
.bx {
    width: 75px;
    height: 75px;
    opacity: 0;
    position: absolute;
    display: flex;
    align-self: center;
    margin-top: 125px;
}
.watch:hover .basketover{
    opacity: 0.05;
    transition: 0.5s;
}
.watch:hover .bx {
    opacity: 0.75;
    transition: 0.5s;
    z-index: 1;
}
.watch:hover .img-watch img {
    filter: blur(2px);
    transition: 0.5s;
}
.img-watch {
    width: 260px;
    height: 325px;
    background-color: #191B1C;
    border: 2px black solid;
    @include dispflex;
}
.louis {
    font-family: "Playfair Display";
    color: white;
    font-size: 18px;
    margin-left: 2px;
}
.cost {
    font-family: "Playfair Display";
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2px;
}


/* coll */


.coll {
    display: flex;
    height: 600px;
}
.even {
   gap: 40px;
}
.man-3 {
    width: 45.83333333%;
    background-image: url(../img/man_3.png);
    @include bgcover;
}
.collection-2018 {
    background-color: #000000;
    width: 54.16666667%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 90px;
}
.col-2018 {
    font-family: "Playfair Display";
    color: white;
    font-size: 36px;
}
.lor {
    max-width: 471px;
    font-family: "Playfair Display";
    color: white;
    font-size: $medium;
    line-height: 1.5;
    text-align: center;
}
.check {
    width: 311px;
    height: 47px;
    border: 1px solid white;
    @include dispflex;
}
.ch {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.check:hover {
    border: 1px solid grey;
    transition: 0.5s;
}
.check:hover .ch {
    color: grey;
    transition: 0.5s;
}   


/* new-goods */


.new-goods {
    display: flex;
    height: 1000px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 100px 350px;
}
.new_collec {
    font-family: "Playfair Display";
    color: white;
    font-size: 36px;
    font-weight: bold;
}


/* brands */


.brands {
    display: flex;
    height: 300px;
    background-color: #0F0F0F;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.our_brands {
    font-family: "Playfair Display";
    color: white;
    font-size: 36px;
    font-weight: bold;
}
.coco {
    display: flex;
}
.cocoimg {
    margin: 20px;
}


/* footer */


.footer {
    width: 100%;
    height: 400px;
    background-image: url(../img/footer.png);
    @include bgcover;
    @include dispflex;
}
.grid {
    display: grid;
    grid-template-columns:350px 350px 350px;
    grid-template-rows: 32px 147px;
    grid-row-gap: 40px;
    grid-column-gap: 60px;
}
.div1 {
    font-family: "Playfair Display";
    color: white;
    font-size: 24px;
}
.div2 {
    font-size: $medium;
    line-height: 1.5;
    color: #FFFFFF;
}
.bgb {
    display: inline-block;
    background-color: #0F0F0F;
    color: lightgray;
    padding: 14px 20px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
.a3 {
    color: lightgray;
    text-decoration: none;
}
.text {
    margin-top: 35px;
    width: 350px;
    height: 42px;
    display: flex;
}
.input {
    height: 40px;
    width: 210px;
    background-color: #FFFFFF;
    opacity: 0.4;
    color: black;
    padding-left: 20px;
}
.input::placeholder {
    color: gray;
}
.sub {
    height: 42px;
    width: 140px;
    background-color: black;
    @include dispflex;
    color: lightgray;
    font-size: 14px;
}
.a4 {
    @include per100;
    background-color: black;
    color: lightgray;
    text-decoration: none;
    border: none;
}
.a4:hover {
    color: white;
    transition: 0.5s;
}


/* aside */


.aside {
    background-color: #0F0F0F;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.c {
    font-size: 12px;
    color: lightgrey;
    margin-left: 350px;
}
.bgb:hover {
    color: #FFFFFF;
    background-color: gray;
    opacity: 0.4;
    transition: 0.5s;
}
.sub:hover {
    color: gray;
    transition: 0.5s;
}


/* media */

@media (max-width: 1600px) {
    .sezon-collection {
        width: 100%;
        height: 1460px;
        flex-direction: column;
    }
    .sezon {
        width: 100%;
        padding: 100px 0px;
    } 
    .collection {
        width: 100%;
        height: 730px;
    }
    .man-3 {
        display: none;
    }
    .collection-2018 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .dop {
        display: none;
    }
    .grid {
        grid-template-columns:350px 350px;
        grid-template-rows: 32px 147px;
    }
}

@media (max-width: 1024px) {
    .doptwo {
        display: none;
    }
    .c {
        margin-left: 200px;
    }
    .new_collec {
        @include dispflex;
        width: 300px;
        font-size: 26px;
    }
}

@media (max-width:900px) {
    .dopb {
        display: none;
    }
}

@media (max-width:768px) {
    .sezon-collection {
        @include per100;
    }
    .dopd {
        display: none;
    }
    .grid {
        grid-template-columns:350px;
        grid-template-rows: 32px 147px;
    }
    .collection {
        display: none;
    }
}

@media (max-width:710px) {
    .new-goods {
        display: none;
    }
}

@media (max-width:600px) {
    .dop3 {
        display: none;
    }
    .coll {
        display: none;
    }
}


@media (max-width: 480px) {
    .c {
        margin-left: 50px;
    }
    .header {
        font-size: 10px;
    }
    .number {
        display: none;
    }
    .new-goods {
        width: 480px;
        padding: 0;
    }
    .cocoimg {
        margin: -5px;
    }
    .form {
        display: none;
    }
    .search {
        display: none;
    }
}

@media(max-width:360px) {
    .footer {
        display: none;
    }
}

@media(max-width:340px) {
    .rectangle {
        width: 250px;
        height: 250px;
    }
}