@charset "UTF-8";
/* общие */
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* header */
.header {
  color: gray;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 100%;
  background: #000000;
  z-index: 3;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span {
  padding: 0 5px;
}

.registr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enter {
  padding-left: 5px;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.a1 {
  color: grey;
  text-decoration: none;
}

.a1:hover {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* header person */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.header-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #0F0F0F;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.user > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 100%;
}

.user > div:hover {
  background-color: #1F1F1F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.user > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user > div:hover li {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.hr {
  width: 100%;
  height: 1.5px;
  background-color: #FFFFFF;
  z-index: -1;
}

li {
  list-style-type: none;
}

.first_li {
  margin-left: -23%;
}

.burger {
  position: absolute;
  margin-top: -250px;
  margin-left: -95px;
  z-index: -1;
}

.burger_div:hover .burger {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 0;
}

.burger > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #0F0F0F;
}

.burger > li:hover {
  background-color: #1F1F1F;
  -webkit-transition: 1s;
  transition: 1s;
}

.burger > li:hover a {
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

.mg {
  margin-top: 32px;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background-color: #FFFFFF;
  opacity: 0.4;
  color: black;
}

form.search button[type=button] {
  width: 20%;
  padding: 10px;
  background-color: #0F0F0F;
  font-size: 14px;
  color: white;
  border: none;
}

.form:hover button[type=button] {
  background-color: #1F1F1F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button[type=button]:hover {
  opacity: 0.4;
}

/* banner */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/bg.png);
  height: 810px;
}

.ban {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lorem {
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 730px;
  max-height: 96px;
  text-align: center;
  line-height: 1.5;
}

.rectangle {
  height: 320px;
  width: 320px;
  border: 4px solid #FFFFFF;
  margin-bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* sezon-collection */
.sezon-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 730px;
}

.sezon {
  background-color: #000000;
  width: 54.16666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 50px;
}

.collection {
  width: 45.83333333%;
  background-image: url(../img/new_collection.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 480px;
  padding-bottom: 80px;
}

.new-collection {
  font-family: "Playfair Display";
  font-size: 36px;
  color: white;
}

.line {
  height: 1px;
  width: 120px;
  background-color: white;
}

.katalog {
  width: 138px;
  height: 47px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a2 {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.katalog:hover {
  border: 1px solid grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.katalog:hover .a2 {
  color: grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.s2020 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  color: white;
}

.watches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 405px;
  width: 100%;
}

.watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 405px;
  width: 260px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basketover {
  width: 263px;
  height: 325px;
  background-color: #FFFFFF;
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.bx {
  width: 75px;
  height: 75px;
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 125px;
}

.watch:hover .basketover {
  opacity: 0.05;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.watch:hover .bx {
  opacity: 0.75;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.watch:hover .img-watch img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-watch {
  width: 260px;
  height: 325px;
  background-color: #191B1C;
  border: 2px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.louis {
  font-family: "Playfair Display";
  color: white;
  font-size: 18px;
  margin-left: 2px;
}

.cost {
  font-family: "Playfair Display";
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 2px;
}

/* coll */
.coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.even {
  gap: 40px;
}

.man-3 {
  width: 45.83333333%;
  background-image: url(../img/man_3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.collection-2018 {
  background-color: #000000;
  width: 54.16666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px;
}

.col-2018 {
  font-family: "Playfair Display";
  color: white;
  font-size: 36px;
}

.lor {
  max-width: 471px;
  font-family: "Playfair Display";
  color: white;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.check {
  width: 311px;
  height: 47px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ch {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.check:hover {
  border: 1px solid grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.check:hover .ch {
  color: grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* new-goods */
.new-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  padding: 100px 350px;
}

.new_collec {
  font-family: "Playfair Display";
  color: white;
  font-size: 36px;
  font-weight: bold;
}

/* brands */
.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  background-color: #0F0F0F;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
}

.our_brands {
  font-family: "Playfair Display";
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.coco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cocoimg {
  margin: 20px;
}

/* footer */
.footer {
  width: 100%;
  height: 400px;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
  -ms-grid-rows: 32px 147px;
      grid-template-rows: 32px 147px;
  grid-row-gap: 40px;
  grid-column-gap: 60px;
}

.div1 {
  font-family: "Playfair Display";
  color: white;
  font-size: 24px;
}

.div2 {
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
}

.bgb {
  display: inline-block;
  background-color: #0F0F0F;
  color: lightgray;
  padding: 14px 20px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.a3 {
  color: lightgray;
  text-decoration: none;
}

.text {
  margin-top: 35px;
  width: 350px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input {
  height: 40px;
  width: 210px;
  background-color: #FFFFFF;
  opacity: 0.4;
  color: black;
  padding-left: 20px;
}

.input::-webkit-input-placeholder {
  color: gray;
}

.input:-ms-input-placeholder {
  color: gray;
}

.input::-ms-input-placeholder {
  color: gray;
}

.input::placeholder {
  color: gray;
}

.sub {
  height: 42px;
  width: 140px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: lightgray;
  font-size: 14px;
}

.a4 {
  width: 100%;
  height: 100%;
  background-color: black;
  color: lightgray;
  text-decoration: none;
  border: none;
}

.a4:hover {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* aside */
.aside {
  background-color: #0F0F0F;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c {
  font-size: 12px;
  color: lightgrey;
  margin-left: 350px;
}

.bgb:hover {
  color: #FFFFFF;
  background-color: gray;
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sub:hover {
  color: gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* media */
@media (max-width: 1600px) {
  .sezon-collection {
    width: 100%;
    height: 1460px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sezon {
    width: 100%;
    padding: 100px 0px;
  }
  .collection {
    width: 100%;
    height: 730px;
  }
  .man-3 {
    display: none;
  }
  .collection-2018 {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .dop {
    display: none;
  }
  .grid {
    -ms-grid-columns: 350px 350px;
        grid-template-columns: 350px 350px;
    -ms-grid-rows: 32px 147px;
        grid-template-rows: 32px 147px;
  }
}

@media (max-width: 1024px) {
  .doptwo {
    display: none;
  }
  .c {
    margin-left: 200px;
  }
  .new_collec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    font-size: 26px;
  }
}

@media (max-width: 900px) {
  .dopb {
    display: none;
  }
}

@media (max-width: 768px) {
  .sezon-collection {
    width: 100%;
    height: 100%;
  }
  .dopd {
    display: none;
  }
  .grid {
    -ms-grid-columns: 350px;
        grid-template-columns: 350px;
    -ms-grid-rows: 32px 147px;
        grid-template-rows: 32px 147px;
  }
  .collection {
    display: none;
  }
}

@media (max-width: 710px) {
  .new-goods {
    display: none;
  }
}

@media (max-width: 600px) {
  .dop3 {
    display: none;
  }
  .coll {
    display: none;
  }
}

@media (max-width: 480px) {
  .c {
    margin-left: 50px;
  }
  .header {
    font-size: 10px;
  }
  .number {
    display: none;
  }
  .new-goods {
    width: 480px;
    padding: 0;
  }
  .cocoimg {
    margin: -5px;
  }
  .form {
    display: none;
  }
  .search {
    display: none;
  }
}

@media (max-width: 360px) {
  .footer {
    display: none;
  }
}

@media (max-width: 340px) {
  .rectangle {
    width: 250px;
    height: 250px;
  }
}
/*# sourceMappingURL=stylescss.css.map */